<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User DB Data</title>
<link rel="stylesheet" th:href="@{/styles/main.css}" />
</head>
<body>
  <div th:replace="~{fragments :: header}"></div>
<br>
  <h2>User Create</h2>
  <form action="/create" th:object="${user}" method="post">
    <table class="user">
      <tr>
        <th>First Name:</th>
        <td><input type="text" th:field="*{firstName}" required></td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td><input type="text" th:field="*{lastName}" required></td>
      </tr>
      <tr>
        <th>Username:</th>
        <td>
            <input type="text" th:field="*{username}" required>
            <span class="error-message" th:errors="*{username}"></span>
        </td>
      </tr>
      <tr>
        <th>Password:</th>
        <td><input type="password" th:field="*{password}" required></td>
      </tr>
      <tr>
        <th>Birth:</th>
        <td><input type="date" th:field="*{birth}" required></td>
      </tr>
      <tr>
          <td colspan="2">
              <input type="submit" value="Create">
          </td>
      </tr>
    </table>
  </form>
</body>
</html>