@charset "UTF-8";

body {
    padding: 20px 50px;
    font-size: 1.1em
}

li {
    font-size: 1.2em
}

table, th, td {
    padding: 10px;
    text-align: left;
    border-collapse: collapse;
    margin-left: 20px;
}

table.errorpage td {
    vertical-align: top;
    border: solid 1px #888;
    padding: 10px;
}

input[readonly] {
    background-color: lightgray ;
}